@page "/ResetPassword"
@model IdentityWithJwt.Pages.ResetPasswordModel
@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Sifreyi Sifirla</title>
    </head>
    <body>
        <h1>Sifreni sifirla</h1>
        <form action="/api/values/resetpassword" method="post">
            <input type="hidden" name="Token" value="@Request.Query["Token"]"/>
            <input type="hidden" name="Token" value="@Request.Query["Email"]"/>
            <table>
                <tr>
                    <td>Yeni Sifre</td>
                    <td><input type="password" name="NewPassword"/></td>
                </tr>
                <tr>
                    <td>Sifre Tekrar</td>
                    <td><input type="password" name="NewPassword"/></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Reset"/></td>
                </tr>
            </table>    
        </form>
    </body>
</html>